PORT=4000
NODE_ENV=development

MONGODB_URL=mongodb+srv://escholar014_db_user:zpgog4yBEYzmIdMm@m0.fuvauus.mongodb.net/?appName=M0

JWT_SECRET="jwt key"

BREVO_API_KEY="api key"
CLOUD_NAME=cxro5zo7
API_KEY="api key"
API_SECRET="api_secret"
FOLDER_NAME="folder name"

RAZORPAY_KEY="api key"
RAZORPAY_SECRET="api secret"

GROQ_API_KEY="api key"
NETRA_AI_URL=https://netra-agentic-ai.streamlit.app/

FRONTEND_URL=http://localhost:3000
MAIL=mail.com